.tamim{
    color:#68217a;
}
.color1{
    background: yellow;
}
.color2{
  background: #f6b93b;  
}
.color3{
    background: #f6b93b;
}
.color4{
  background: #ff3f34;   
}
.color5{
  background: #ff3f34;   
}
.color6{
  background: #0fbcf9;   
}
.color7{
  background: #0fbcf9;   
}
.color8{
  background: #78e08f;   
}
.color9{
  background: #78e08f;   
}
.color10{
  background:#d980fa ;   
}
.color11{
  background:#d980fa ;   
}
.color12{
  background: #d1d8e0;   
}
.color13{
  background:#d1d8e0 ;   
}
.tamim1{
    background: #ffcccc;
}
.tamim2{
    background:#ee82ee ;
}
.tamim3{
    background: #8e4abe;
}
.tamim4{
    background: #2222fd;
}
.tamim5{
  background:#008000 ;
}
.tamim6{
  background: #ffff00;
}
.tamim7{
  background:#ffa500 ;
}
.index1{
   background: #ff6b81;
}
.index2{
  background:#2ed573 ;
}
.love{
  background: #c4e538;
}
.love1{
  background: #d2d2d2;
  color: #491dc5;
  text-align: center;
  font-size: 30px;
}
.love3{
  color: red;
}
.love4{
  background: #45d76a;
  color: white;
  text-align: center;
  font-size: 50px;
}


